<nz-table #nzTable [nzData]="listOfDisplayData" nzTableLayout="fixed">
  <thead>
    <tr>
      <th nzCustomFilter>
        ID
        <nz-filter-trigger [(nzVisible)]="visible" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu">
          <i nz-icon nzType="search"></i>
        </nz-filter-trigger>
      </th>
      <th>PaientName</th>
      <th>Is Active</th>
      <th>From</th>
      <th>To</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of nzTable.data">
      <td>{{ data.ID }}</td>
      <td>{{ data.PaientName }}</td>
      <td>{{ data.IsActive }}</td>
      <td>{{ data.From }}</td>
      <td>{{ data.To}}</td>
    </tr>
  </tbody>
</nz-table>
<nz-dropdown-menu #menu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue" />
      <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">Search</button>
      <button nz-button nzSize="small" (click)="reset()">Reset</button>
    </div>
  </div>
</nz-dropdown-menu>
<style>
  .search-box {
        padding: 80px;
      }

      .search-box input {
        width: 188px;
        margin-bottom: 8px;
        display: block;
      }

      .search-box button {
        width: 90px;
      }

      .search-button {
        margin-right: 8px;
      }
</style>
