<nz-card >
  <ng-template #actionSetting>
    <i nz-icon nzType="setting"></i>
  </ng-template>
  <ng-template #actionEdit>
    <i nz-icon nzType="edit"></i>
  </ng-template>
  <ng-template #actionEllipsis>
    <i nz-icon nzType="ellipsis"></i>
  </ng-template>
  <div nz-card-grid [ngStyle]="gridStyle"> 250 Overall Total Patients</div>
  <div nz-card-grid [ngStyle]="gridStyle">100 Males</div>
  <div nz-card-grid [ngStyle]="gridStyle">150 Females</div>
  <div nz-card-grid [ngStyle]="gridStyle">0 Others</div>
  <div nz-card-grid [ngStyle]="gridStyle">19 Total consultations</div>
  <div nz-card-grid [ngStyle]="gridStyle">9 Active consultations</div>
  <div nz-card-grid [ngStyle]="gridStyle">10 Inactive consultations</div>
  <div nz-card-grid [ngStyle]="gridStyle"> 14 Assigned consultations</div>
  <div nz-card-grid [ngStyle]="gridStyle">5 Unassigned consultations</div>
  <div nz-card-grid [ngStyle]="gridStyle">12 OPD</div>
  <div nz-card-grid [ngStyle]="gridStyle"> 25 IPD</div>
  <div nz-card-grid [ngStyle]="gridStyle">0 Physicians </div>
  <div nz-card-grid [ngStyle]="gridStyle">7 Users</div>
  <div nz-card-grid [ngStyle]="gridStyle">7 Staff's</div>
  <div nz-card-grid [ngStyle]="gridStyle">78 Total beds  </div>
  <div nz-card-grid [ngStyle]="gridStyle">7 Occupied beds</div>
  <div nz-card-grid [ngStyle]="gridStyle">17 Un-Occupied beds</div>

</nz-card>
